{% extends 'base.html' %}
{% block title %}404{% endblock %}
{% block static_prefix %}../{% endblock %}
{% block content %}
	<div id="paddedContent" class="container h-100">
		<div class="row align-items-center h-100">
			<div class="col-md-2">
			</div>
			<div class="col-md-8 mx-auto my-auto">
				<div class="page-header text-center jumbotron" style="font-weight: bolder;">
					<h1>
						That's a 404
					</h1>
					<h4 class="text-center">
						Try one of the links in the navbar
					</h4>
				</div>
			</div>
			<div class="col-md-2">
			</div>
		</div>
	</div>
{% endblock %}