{% extends 'base.html' %}
{% block static_prefix %}/{% endblock %}
{% block title %}New Auction{% endblock %}
{% block auth_url %}{{ auth_url }}{% endblock %}
{% block auth %}{{ auth_text }}{% endblock %}
{% block content %}
<div class="row mt-5">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="List Token for Auction">
        </form>
    </div>
    <div class="col-md-2">
    </div>
</div>
{% endblock %}